<!doctype html>
<html class="no-js" lang="zxx">
  
<head>
  <title>Welcome System</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/style_noaccess.css">
</head>
<div class="lock"></div>
<div class="message">
  <h1>El acceso a esta página esta restringido</h1>
  <p>Tu usuario no tiene permiso para acceder a esta página</p>
  <p><a href="/">Ir a inicio</a></p>
  <p><a href="/accounts/logout">Cerrar sesión</a></p>
</div>